<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container"> 
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/salvarResposta">
            <h3>Responda</h3>
            <label>Resposta:</label>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo1"></textarea>
            <br>
            <input type="hidden" name="pergunta1" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-success">Responder</button>
        </form>
        <hr>
        <h3>TODAS AS RESPOSTAS</h3>
        <hr>
        <% respostas.forEach(function(resposta){ %>
            <div class="card">
                <div class="card-body">
                    <%= resposta.corpo %>
                </div>
            </div>    
        <% }) %>
    </div>
</body>
<%- include('partials/footer') %>
  